<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Info</title>
    <link rel="stylesheet" href="css/styles.css"/> <!-- static path for public folder is already set in app.js -->
</head>
<body>
    <div class="main-content">
        <header>
            <h2>Weather Info</h2>
        </header>
        <article class="widget">
            <form class="weatherLocation" action="/" method="POST">
                <label class="font1" for="cityInput"> <b>City Name:</b> </label>
                <input style="border-radius: 2px;" type="text" name="cityName" id="cityInput">
                <button class="font2" type="submit">Go</button>
                </form>
            <div class="weatherIcon"><i style="padding-top: 0px;" class="wi"><img style="height: 150px;" src="<%= img %>"></i></div>
            <div class="weatherInfo">
                <div class="temperature"><span><p><%= temp1 %></p></span></div>
                <div class="description">    
                    <div class="weatherCondition"><p><%= des %></p></div>    
                    <div class="place"><%= place %></div>
                </div>
            </div>
            <div class="date"><p class="date1"><%= date1 %></p></div>
        </article>
    </div>

<!--     <form action="/" method="POST">
    <label for="cityInput">City Name: </label>
    <input type="text" name="cityName" id="cityInput">
    <button type="submit">Go</button>
    </form> -->
</body>
</html>